/Calculator.class
/DatabaseEntityWriter.class
/DatabaseToObjects.class
/Employee.class
/EmployeeAttendanceManager.class
/EmployeeConverter.class
/EmployeeWriter.class
/EntityContainer.class
/EntityConverter.class
/PasswordCheck.class
/Shift.class
/TimeTypeConverter.class
