/Employee.class
/Shift.class
/Break.class
/EmployeeManager.class
/EntityRetriever.class
/EntityConverter.class
/EmployeeConverter.class
/EmployeeRetriever.class
/ShiftManager.class
/BreakManager.class
/ShiftRetriever.class
/TimeConverter.class
/BreakRetriever.class
/EntityEditor.class
/EmployeeEditor.class
/UpdateEntity.class
/ShiftEditor.class
